.login-container{
    padding-bottom:0;
    background: orange;
    color:white;
    font-size: 20px;
    text-align: center;
    height:auto;
    margin: 10% 20%;
  }
  .login-text{
      padding:5%;
      font-size: 30px;
  }
  .form-control{
    padding: 4%;
  }
  .sign-up-button,.submit-button{
    color:blue;
    padding: 4%;
  }
  .invalid-field{
    color:red;
    font-size:15px;
}