<div class="login-container">
  <div class="login-text">
    Please Login to WestPac
  </div>
  <div class="form-container">
    <form [formGroup]="myform" class="form-group" (ngSubmit)="onClickSubmit()">
      <div class="form-control">
        <label>User Name:</label>
        <input type="text" formControlName="userName">
        <div *ngIf="formSubmitted && myform.controls.userName.errors" class="invalid-field">
          <div *ngIf=" myform.controls.userName.errors.required">
            User Name is Required
          </div>
        </div>
      </div>
      <div class="form-control">
        <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="formSubmitted && myform.controls.password.errors" class="invalid-field">
          <div *ngIf=" myform.controls.password.errors.required">
            Password is Required
          </div>
        </div>
      </div>
      <div class="submit-button">
        <input type="submit" value="Submit">
      </div>
    </form>

    <div class="sign-up-button">
      <span>New User?</span>
      <button (click)="onClickSignUp()">Sign Up</button>
    </div>
  </div>
</div>