<div class="client-details-container">
  <div class="client-page-heading">Full Details:</div>
  <table>
    <tr>
      <td class="client-name-heading">Full Name: </td>
      <td class="client-name">{{clientsData.clientName}}</td>
    </tr>
    <tr>
      <td class="client-company-heading">Company's Name: </td>
      <td class="client-company">{{clientsData.companyName}}</td>
    </tr>
    <tr>
      <td class="client-address-heading">Permanent Address: </td>
      <td class="client-address">{{clientsData.address}}</td>
    </tr>
    <tr>
      <td class="client-contact-heading">Contact : Info</td>
      <td class="client-contact">{{clientsData.contact}}</td>
    </tr>

  </table>
</div>