<div class="client-details-container">
  <div class = "client-page-heading" >Full Details:</div>
  <table>
    <tr >
      <td>Full Name: </td> 
      <td>{{clientsData.clientName}} </td>
    </tr>
    <tr >
        <td>Company's Name: </td>
        <td>{{clientsData.companyName}}</td>
    </tr>
    <tr>
      <td>Permanent Address: </td>
      <td>{{clientsData.address}}</td>
    </tr>
    <tr>
        <td>Contact : Info</td>
        <td>{{clientsData.contact}}</td>
      </tr>
    
    </table>
</div>
