<div class="dashboard-container">
  <h1>
    Welcome to Dashboard {{userName}}!
  </h1>
  <div *ngIf="clientsData" class="clients-data">
    <p>You have following clients {{userName}}, Please click each to know the full details-</p>
    <ul class="client-list">
      <li (click)="onUserClick(user)" *ngFor="let user of clientsData">
        {{user.clientName}}
      </li>
    </ul>
    <app-client-details *ngIf="client" [clientsData]="client"></app-client-details>
  </div>
  <div *ngIf="errorDetails">{{errorDetails}}</div>
</div>